h1 {
  color: red;
}

h1 {
  margin: 100px;
}

#my-main-title {
  3px;
}

p {
  color: blue;
  font-family: Helvetica;
  font-size:16;
}

ul li {background-color: yellow;
}

.important {
  color: red;
  font-weight: bold;
}

h2 {
  color:green;
  background-color: orange;
}

ol {background-color: teal;
}
